<div class="settings">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
        <span id="main-title">KeyBoss</span>
        <span class="version" id="version">v0.0.0</span>
      </div>
      <div class="title sub" id="subTitle"></div>
    </div>
  </div>

  <div id="previewHeader" class="palm-header left">
    <div id="previewButton" x-mojo-touch-feedback="immediate"><div class="icon"></div></div>
    <div id="preview" class="previewText" x-mojo-element="TextField"></div>
  </div>


  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="enableToggle"></div>
        <div class="title left">Enable</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title"><span x-mojo-loc=''>Hold Actions</span></div>
    <div class="palm-list" id="holdList" x-mojo-element="List"></div>
  </div>

  <div class="palm-group" id="holdTimeGroup">
    <div class="palm-group-title"><span x-mojo-loc=''>Hold Timings</span></div>

    <div class="palm-list">
      <div id="holdTimeoutRow" class="palm-row single">
        <div class="palm-row-wrapper">
					<div class="title" x-mojo-loc=''>Hold Interval</div>
          <div x-mojo-element="Slider" id="holdSlider" class="palm-slider">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">
      <span x-mojo-loc=''>Tap Actions</span>
    </div>
    <div class="palm-list" id="tapList" x-mojo-element="List">
    </div>
  </div>

  <div class="palm-group" id="tapTimeGroup">
    <div class="palm-group-title">
      <span x-mojo-loc=''>Tap Timings</span>
    </div>

    <div class="palm-list">
      <div id="tapTimeoutRow" class="palm-row single">
        <div class="palm-row-wrapper">
					<div class="title" x-mojo-loc=''>Tap Threshold</div>
          <div x-mojo-element="Slider" id="tapSlider" class="palm-slider">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">
      <span x-mojo-loc=''>Repeat Rate</span>
    </div>

    <div class="palm-list">
      <div id="delaySliderRow" class="palm-row first">
        <div class="palm-row-wrapper">
					<div class="title" x-mojo-loc=''>Initial Delay</div>
          <div x-mojo-element="Slider" id="delaySlider" class="palm-slider">
          </div>
        </div>
      </div>

      <div id="freqSliderRow" class="palm-row last">
        <div class="palm-row-wrapper">
					<div class="title" x-mojo-loc=''>Repeat Interval</div>
          <div x-mojo-element="Slider" id="freqSlider" class="palm-slider">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>

</div>
