/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}


/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 18px;
}
.startup #data .text
{
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul
{
	margin: 0px;
	padding-left: 37px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul.changelog
{
	font-size: 15px;
}





/*
 * "Settings" Main Scene Styles
 */
.settings .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.settings .palm-page-header-wrapper .title
{
	padding-left: 80px;
}
.settings .palm-page-header-wrapper .title.main
{
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.settings .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.settings .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}






.settings .previewText
{
	display: inline;
	z-index: 20000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	color: #fff;
	padding-top: 2px;
	padding-left: 1px;
	border-width: 10px 25px 10px 25px;
	-webkit-border-image: url(../images/palm-default/search-box.png) 10 25 10 25 stretch stretch;
	-webkit-box-sizing: border-box;
}

.settings .previewText input
{
	color: #fff;
	background: none;
	margin-top: 0px;
	margin-left: -1px;
	border: 0px;
	padding: 0px;
}

.settings .previewIcon
{
  display: inline;
  background: url(../images/palm-default/cancel-progress-icon.png);
}


.settings .closeButton
{
	z-index: 20000;
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	width: 38px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/header-button-press.png);
	-webkit-border-image: url(../images/header-button.png) 0 16 0 16 stretch stretch;
}
.settings .closeButton.selected
{
	-webkit-border-image: url(../images/header-button-press.png) 0 16 0 16 stretch stretch;
}
.settings .closeButton .icon
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -8px;
	width: 21px;
	height: 23px;
	background: url(../images/cancel-progress-icon.png) center center no-repeat;
}
.settings .previewTitle
{
	float: left;
	display: block;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
